.pad0 {
  padding: 0;
}

.padL0 {
  padding-left: 0px;
}

.marT0 {
  margin-top: 0;
}

.marT5 {
  margin-top: 5px;
}

.marT10 {
  margin-top: 10px;
}

.marT15 {
  margin-top: 15px;
}

.marT20 {
  margin-top: 20px;
}

.marT30 {
  margin-top: 30px;
}

.marT40 {
  margin-top: 40px;
}

.marT50 {
  margin-top: 50px;
}

.marB10 {
  margin-bottom: 10px;
}

.marB20 {
  margin-bottom: 20px;
}

.marB30 {
  margin-bottom: 30px;
}

.marB40 {
  margin-bottom: 40px;
}

.marB50 {
  margin-bottom: 50px;
}

.marB60 {
  margin-bottom: 60px;
}

.marB70 {
  margin-bottom: 70px;
}

.hide {
  display: none;
}

.dep {
  margin-left: 23px;
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  float: left;
  line-height: 0;
}

.main-container {
  float: left;
  position: relative;
  width: 100%;
  background: #e7e7e796;
  padding: 0;
  border-bottom: solid 3px #083b66;
}

.top-head {
  float: left;
  position: relative;
  width: 100%;
}

.left-model-name {
  float: left;
  position: relative;
  width: 100%;
}

.left-model-name h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px 0;
}

.left-model-name h4 {
  color: #555;
  font-size: 13px;
  margin: 5px 0;
}

.left-model-name a {
  color: #f9430d;
  text-decoration: underline;
  margin: 0 5px;
}

.service-check {
  float: left;
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.middle-block {
  float: left;
  position: relative;
  width: 100%;
  padding: 15px 0;
}

.middle-block h4 {
  font-size: 16px;
}

.middle-block .icn {
  width: 10%;
}

img.icn {
  position: absolute;
  left: 0;
  width: 10%;
  top: 0;
}

.middle-block h5.price {
  margin: 8px 0;
  color: grey;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 85px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.left-icon {
  float: left;
  width: 11%;
}

span.left-icon img {
  width: 94%;
}

span.right-text {
  float: left;
  width: 80%;
}

span.right-text h4 {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  margin-bottom: 7px;
}

span.right-text p {
  margin-left: 23px;
  margin-top: -8px;
  font-size: 12px;
  font-weight: 400;
  color: #616a73;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
  width: 34px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: 0;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #ec691f;
}

.option-input:checked {
  background: #ec691f;
}

.option-input:checked::before {
  height: 34px;
  width: 34px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 23.66667px;
  text-align: center;
  line-height: 34px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

.middle-block-check {
  float: left;
  position: relative;
  width: 100%;
  margin: 0 0;
  white-space: nowrap;
}

.cover-value-pa-wrapper.sticky-sidebar {
  position: sticky;
  top: 15%;
  left: 0;
  right: 0;
}

span.price {
  float: left;
  font-size: 15px;
  color: #000;
  font-weight: 100;
  font-style: italic;
}

label.toggle-control b {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-align: left;
  float: left;
  width: 100%;
}

.cover-value-pa-wrapper {
  float: left;
  width: 100%;
  position: relative;
}

.cover-value-image {
  float: left;
  position: relative;
  width: 100%;
}

.cover-value-image figure img {
  max-width: 100%;
  width: 100%;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.29);
}

.bike-bottom-results-newbike {
  float: left;
  position: relative;
  width: 100%;
}

span.result {
  float: left;
  position: relative;
  width: 100%;
  text-align: right;
  margin: 10px 0;
  text-decoration: underline;
}

span.result h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

span.result h4 {
  font-size: 16px;
  font-weight: 600;
  color: #272626;
  margin: 10px 0;
}

/*
span.result:before {
	position: absolute;
	content: "";
	background: #083b66;
	height: 4px;
	width: 45px;
	text-align: center;
	bottom: -10px;
	border-radius: 5px
}

span.result:after {
	position: absolute;
	content: "";
	background: #f9430d;
	height: 4px;
	width: 45px;
	text-align: center;
	bottom: -10px;
	left: 46.2%;
	border-radius: 5px
} */

.bike-details-container {
  float: left;
  position: relative;
  width: 100%;
}

/* .bike-details-box:hover {
	transform: scale(1.09);
	-moz-transform: scale(1.09);
	-webkit-transform: scale(1.09);
	transition-duration: .4s;
	-moz-transition-duration: .4s;
	-webkit-transition-duration: .4s;

} */

/* .bike-details-box {
    float: left;
    position: relative;
    width: 100%;
    background: #fff;
    text-align: center;
    margin: 30px 0 0 0;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.4);
	border: solid 2px #083b66;
	transition-duration: .4s;
	-moz-transition-duration: .4s;
	-webkit-transition-duration: .4s;
}

.bike-details-data{
  position: relative;
  z-index: 10;
}


.bike-details-box:focus {
	outline: 0
}

.bike-details-box figure img {
	width: 100%;
	margin: 0px auto 0px;
	max-width: 100%;
	height: 140px;
	max-height: 140px
}

.bike-details-box figure {
	text-align: center;
    width: 65%;
    margin: 20px auto;
    display: block;
}
a.buy-btn {
    position: relative;
    width: 70%;
    background: #083b66;
    color: #fff !important;
    display: block;
    margin: 25px auto 0px;
    padding: 4px 0;
    font-size: 20px;
    text-transform: capitalize;
}
.other-dtls p {
    margin: 15px 0 3px;
    font-size: 15px;
    font-weight: 500;
} */
span.ins-price {
  text-align: center;
  display: inline-block;
  line-height: 36px;
}

span.ins-price small {
  font-size: 24px;
  margin: 0 2px;
  font-weight: 500;
  font-style: italic;
  vertical-align: text-bottom;
}

span.ins-price .fa {
  font-size: 22px;
  vertical-align: super;
}

.apply {
  float: left;
  position: relative;
  width: 100%;
  margin: 1px 0 0 0;
}

.apply a.my-button {
  width: 100%;
  border: transparent;
  padding: 15px 0;
  background: #88888840;
  color: #000;
}

.mat-card {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  top: -6px;
  padding: 10px 15px 10px;
}

.mat-checkbox-layout {
  margin-bottom: -0.1rem !important;
}

.txt-R {
  text-align: right;
}

.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ec691f;
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {

  0%,
  10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(136px) rotateX(0);
    opacity: 1;
  }

  100%,
  90% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {

  0%,
  10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -o-transform: perspective(136px) rotateX(0);
    opacity: 1;
  }

  100%,
  90% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {

  0%,
  10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -ms-transform: perspective(136px) rotateX(0);
    opacity: 1;
  }

  100%,
  90% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {

  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0);
    opacity: 1;
  }

  100%,
  90% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {

  0%,
  10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -moz-transform: perspective(136px) rotateX(0);
    opacity: 1;
  }

  100%,
  90% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

.plan {
  margin-bottom: -20px;
}

figure {
  margin: 0 0 0rem;
}

a {
  color: #585858;
}

.price_btn {
  border: 2px solid #0f78d0;
  width: 53%;
  border-radius: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  height: 48px;
  color: #0f78d0;
}

.price_btn:hover {
  background: #ec691f;
  border: 2px solid #d45811;
  color: #ffffff;
}

.hamara-text {
  margin: 0 0 0px 0;
  font-weight: 500;
  font-size: 19px;
}

.hamara__wrap__subtitle {
  font-size: 14px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 20px;
}

.filter {
  padding-top: 10px;
}

.plan_card {
  height: 550px;
  width: 100%;
  background: #ffffff;
  box-shadow: 4px 0 12px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 20px 20px 15px;
  text-align: center;
}

.Plan_Details .modal-body {
  padding: 0px;
}

.company_logo {
  height: 63px;
  width: 100%;
}

.company_logo img {
  width: 100%;
  margin-top: -60px;
}

.plan_card .price {
  font-weight: 100;
  margin-top: 10px;
  padding-bottom: 6px;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
}

.claim {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0px;
}

.communication-address {
  background: #ec691f;
  color: #ffffff;
  text-decoration: none;
  border-color: #ec691f;
  font-size: 15px;
  padding: 6px 30px;
  width: 80%;
}

.Premium_Breakup {
  width: 100%;
  text-align: left;
}

.Premium_Breakup th {
  font-size: 16px;
}

.Premium_Breakup td {
  font-size: 15px;
}

@media (min-width: 992px) {
  .price_filter .modal-lg {
    max-width: 1050px;
    margin-top: 150px;
  }

  .Plan_Details .modal-lg {
    max-width: 1120px;
  }
}

/* Filter bar */

.main-container {
  float: left;
  position: relative;
  width: 100%;
  background: #e7e7e796;
  padding: 0;
}

select.form-control {
  height: calc(2.25rem + 2px);
}

.w--button--basedark {
  background: #0f78d0;
  color: #fff;
  border: 1px solid #0f78d0;
  margin-top: 2px;
}

.w--button--filterplans {
  padding: 5px 9px;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  width: 100%;
}

.colum-table2 {
  width: 98%;
  text-align: left;
  font-size: 14px;
}

.marL0 {
  margin-left: 0px !important;
  margin-top: 7px;
}

/* .idv-input {
    position: relative;
    width: 71%;
    float: right;
	padding-right: 5%;
} */

.idv-input {
  position: relative;
  width: 100%;
  float: right;
  padding: 0 6px;
}

.idv-input .mat-form-field-underline {
  width: 95%;
}

.price_filter .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.9rem;
}

/* SLider MAx- MIN VAlue*/
.mat-slider-horizontal {
  height: 48px;
  min-width: 95%;
}

.plan-info img {
  width: 100%;
  margin: 0px auto 0px;
  max-width: 60%;
  height: 120px;
  max-height: 120px;
}

.insurance-company-image.plan-info img {
  width: 100%;
  margin: 0px auto 0px;
  max-width: 55%;
  height: 100%;
  max-height: 100%;
}

/* New Pricing Plans */

.price-plan {
  float: left;
  position: relative;
  width: 100%;
  border: solid 1px transparent;
  background-color: #f2f4f7;
  margin-top: 7%;
  padding: 1px;
  text-align: center;
  -webkit-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.price-plan:hover {
  border-color: #083b66;
}

.image img {
  width: 100%;
  max-width: 130px;
  height: 100%;
}

.image {
  float: left;
  position: relative;
  width: 100%;
}

/* .price-plan:before {
  position: absolute;
  left: 0;
  top: 0%;
  height: 0;
  width: 100%;
  content: "";
  background: #083b66;
  background: -moz-linear-gradient(
    to right,
    #083b66 0%,
    rgb(255 255 255) 50%,
    rgb(8 59 102) 100%
  );
  background: -webkit-linear-gradient(
    to right,
    #083b66 0%,
    rgb(255 255 255) 50%,
    rgb(8 59 102) 100%
  );
  background: linear-gradient(
    to right,
    #083b66 0%,
    rgb(255 255 255) 50%,
    rgb(8 59 102) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f14b59', endColorstr='#ffa200',GradientType=1 );
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
} */

.price-box {
  float: left;
  position: relative;
  width: 100%;
  background: #ffffff;
  padding: 10px 0px 0;
  /* border: solid 1px rgb(8 59 102 / 0%); */
}

.buy-nw {
  position: relative;
  width: 100%;
  color: #fff !important;
  margin: 0px auto 0px;
  padding: 4px 0;
  font-size: 21px;
  text-transform: capitalize;
  display: block;
  float: left;
}

a.view-details {
  text-decoration: underline !important;
  font-size: 13px;
  color: #ec691f !important;
}

h4.price-tag {
  float: left;
  position: relative;
  width: 100%;
  display: block;
  margin: 10px 0;
  font-weight: 600;
}

.price-tag {
  float: left;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

span.cut {
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 500;
}

span.cut-price {
  margin: 0 8px;
  font-size: 18px;
  font-weight: 500;
}

.price-tag {
  float: left;
  position: relative;
  width: 100%;
  margin: 5px 0 0;
  color: #083b66;
}

.fw-6 {
  font-weight: 600;
}

.bdr_R {
  border-right: solid 1px #083b66;
}

p.idv-tag {
  margin: 5px 0 5px;
  font-size: 13px;
  font-weight: 500;
  float: left;
  position: relative;
  width: 100%;
}

.ncb-value {
  font-size: 13px;
  margin: 6px 0 0px;
  font-weight: 500;
  text-align: left;
}

a.btn-buy {
  width: 100%;
  display: block;
  background: #083b66;
  width: 60%;
  margin: 2px auto;
  font-size: 18px;
}

.editer-plan {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

.policy-tag {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.policy-tag li {
  display: inline-block;
  margin: 0 2px;
  font-size: 11px;
  font-weight: 500;
  text-align: right;
}

ul.policy-tag li .fa {
  color: #ec691f;
}

.p-detls {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  float: left;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.modal-header {
  background: #083b66 !important;
  padding: 1rem 1rem !important;
  color: #fff;
  text-align: center;
  border-radius: 0px;
}

.modal-title {
  font-size: 16px;
  width: 100%;
}

.modal-content {
  border: 1px solid hsl(207deg 85% 22%);
}

.last-insurer .modal-content {
  border: 1px solid hsl(207deg 85% 22%);
}

/*
.modal-body {
  padding: 0.4rem;
} */
.modal-body img {
  width: 100%;
  max-height: 60px;
  max-width: 100px;
  height: 100%;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background: #e8e7e7;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 5px;
}

.modal-footer .price_btn {
  border: 2px solid #083b66;
  width: 16%;
  border-radius: 5px;
  padding-top: 0px;
  margin: 5px 5px 5px;
  height: 40px;
  color: #083b66;
  font-size: 16px;
}

.modal-footer .price_btn:hover {
  background: #ec691f;
  border: 2px solid #d45811;
  color: #ffffff;
}

/*Previous Policy Expired POpup Edit */

.policyexpiry .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #083b66;
  border-color: #083b66 #083b66 #fff;
}

.policyexpiry .nav-tabs .nav-link {
  color: #000000;
  border-radius: 0;
}

.modal-backdrop {
  background: rgb(231 234 238 / 97%);
  opacity: 1;
}

/* .policyexpiry .modal-header {
  padding: 0;
  background: #ffffff;
} */
/* .policyexpiry .modal-body {
  padding: 1.4rem;
} */
.modal-header h4 {
  margin: 0 0;
  font-size: 18px;
  color: #fff;
}

.sort p {
  float: right;
  font-size: 18px;
  margin: 0 0px 0 10px;
  cursor: pointer;
}

.sort p .rotate {
  transform: rotate(-180deg);
}

p.gst-tag {
  display: block;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  float: left;
  text-align: center;
  width: 100%;
}

.my-btn {
  background: #ec691f;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 7px 0px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: auto;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.divider {
  position: relative;
  width: 80%;
  text-align: center;
  border-top: dotted 1px #ec691f;
  margin: 3% auto 0;
  display: block;
}

.divider h4 {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  background: #fff;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 500;
  color: #083b66;
  width: 35%;
  text-transform: capitalize;
}

/* Mobile Responsive Design  Style */

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .service-check {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .service-check {
    padding-top: 50px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .divider h4 {
    position: relative;
    top: 0;
    font-size: 15px;
    width: 100%;
  }

  .mat-card {
    position: absolute;
    width: 100%;
  }

  .left-model-name {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }

  .service-check {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .divider h4 {
    position: relative;
    top: 0;
    font-size: 15px;
    width: 100%;
  }

  .mat-card {
    position: relative;
    width: 100%;
  }

  .left-model-name {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .left-model-name {
    float: left;
    position: relative;
    width: 100%;
    text-align: left;
    margin: 12px 0 5px;
  }

  .premium-data p {
    font-size: 12px !important;
  }

  .premium-data {
    text-align: center;
  }

  .Plan_Details .txt-L,
  .Plan_Details .txt-R {
    text-align: center !important;
  }

  .editer-plan .mat-card {
    position: relative;
    width: 100%;
    top: 45px;
  }

  .txt-R {
    text-align: right;
  }

  .divider h4 {
    margin: 0 auto;
    position: relative;
    top: 0;
    font-size: 15px;
  }
}

.idvDisabled {
  opacity: 0.5;
}

.Claim_Policy h4 {
  font-size: 13px !important;
  color: #000 !important;
  font-weight: 500;
}

.cover-plan {
  margin: 0px auto 0;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  background: #ec691f;
  color: #fff;
  padding: 2px 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: table;
}

.right-text {
  padding-top: 3px;
}

.cursor {
  cursor: pointer;
}

.dep {
  margin-left: 0px;
  margin-top: 5px;
  display: none;
}

.planHolder {
  margin-top: 13%;
}

.hamarabima-text {
  border-right: 1px solid #d2d6d8f2;
}

/* 
.w--button{
  width: 100%;
} */

.modal-body .row {
  padding-top: 10px;
}

.model-body label {
  padding-top: 7px;
}

.spacing {
  margin-top: 10px;
}

.btn2 {
  color: #ffffff;
  opacity: 1;
  margin: -5px 10px 0px 0;
  padding: 0;
}

.btn3 {
  background-color: #083b66;
}

.comprehensive {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.close {
  color: #fff;
  opacity: 1;
}

.modal-content {
  border-color: #838383;
}

.modeldialog {
  background-color: #ec691f;
  color: white;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


.response-model {
  background: #e3e5e9;
  border-radius: 14px;
  font-size: larger;
  font-weight: 500;
}

.response-model-note {
  color: #ec691f;
}


.response-model-company-logo {
  height: 80% !important;
  width: 100% !important;
}

.response-model-company-image {
  float: left;
  /* width: 100%; */
  max-width: 14.1%;
  /* max-height: 283px; */
  /* height: 41%; */
  position: relative;
  margin: 10px;
}

.response-model-div {
  display: flex;
  justify-content: center;
}