<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Dashboard">
                                <div class="col-md-12">
                                    <label>New</label>
                                    <mat-card><i class="fa fa-info-circle" aria-hidden="true"></i> No leads as of now.
                                        Look out this space for more leads</mat-card>
                                    <br>
                                    <label>My Leads</label>
                                    <mat-card><i class="fa fa-info-circle" aria-hidden="true"></i> No leads as of now.
                                        Look out this space for more leads</mat-card>
                                    <br>
                                </div>
                            </mat-tab>
                            <mat-tab label="Sold Leads">
                                <div class="col-md-12">
                                    <br>
                                    <mat-card><i class="fa fa-info-circle" aria-hidden="true"></i> No leads as of now.
                                        Look out this space for more leads
                                    </mat-card>
                                    <br>
                                </div>
                            </mat-tab>
                            <mat-tab label="Dead Leads">
                                <div class="col-md-12">
                                    <br>
                                    <mat-card><i class="fa fa-info-circle" aria-hidden="true"></i> No leads as of now.
                                        Look out this space for more leads
                                    </mat-card>
                                    <br>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>