<!--- Main list ----->
<div class="main-container ">
    <div class="container">
        <div class="row">
            <div class="top-head marT20 marB20 ">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="left-model-name">
                        <h2>Single Trip Travel Insurance</h2>
                        <h4>Traveling to: United States of America (USA) | <a routerLink="/pos/travel">Edit</a></h4>
                        <h4>Start Date : Nov 1st 2019 To End Date : Nov 7th 2019 | <a routerLink="/pos/travel">Edit</a>
                        </h4>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8 padT10">
                    <div class="left-model-name text-right">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-5 padT6">Medical Cover : </label>
                                        <div class="col-md-7">
                                            <select name="plans" class="form-control">
                                                <option value="0">$25,000</option>
                                                <option value="1">$50,000</option>
                                                <option value="2">$100,000</option>
                                                <option value="3">$200,000</option>
                                                <option value="4">$250,000</option>
                                                <option value="5">$500,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4 padT6">Sort Plans : </label>
                                        <div class="col-md-8">
                                            <select name="plans" class="form-control">
                                                <option value="0">Recommended</option>
                                                <option value="1">Premium (high-low)</option>
                                                <option value="2">Premium (low-high)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service-check">
    <div class="container">
        <div class="marT50 marB50 row">
            <!-- Service List --->
            <div class="col-md-12 col-12">
                <div class="bike-details-container ">
                    <div class="row">
                        <span class="result">
                            <h4>47 matching plans</h4>
                        </span>
                        <div class="col-md-4" *ngFor="let plan of allplan">
                            <div class="bike-details-box">

                                <figure class="padT10 padB10">
                                    <img src="./assets/img/insurance/apollo.png" alt="">
                                </figure>
                                <ul class="ins-plan-list">
                                    <li>Buy For
                                        <span><i class="fa fa-rupee marL5"
                                                aria-hidden="true"></i> 531 </span></li>
                                </ul>
                                <hr>
                                <div class="col-md-12">
                                    <table>
                                        <tr>
                                            <td class="colum-table-tittle">Main Features</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="colum-table">EXISTING DISEASES COVER : Not Covered</td>
                                            <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="colum-table">BAGGAGE LOSS COVER : $1,000</td>
                                            <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="colum-table">TRIP DELAY COVER : $50</td>
                                            <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8 text-left">
                                            <mat-checkbox>Compare</mat-checkbox>
                                        </div>
                                        <!-- <div class="col-md-4">
                                                    <label data-toggle="modal" data-target="#exampleModalCenter"
                                                        style="cursor: pointer;">See
                                                        Details</label>
                                                </div> -->
                                        <div class="col-md-4 marT8">
                                            <button class="btn btn-primery btnstyle"
                                                (click)="traveldetails()">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</section>
<!-- Bike Result-->
<!-- Modal -->
<div class="modal fade Plan_Details" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 pad0">
                            <div class="plan_card">
                                <div class="company_logo">
                                    <img src="./assets/img/insurance/apollo.png" alt="">
                                </div>
                                <label class="price">Sum Assured :
                                    <strong> <i aria-hidden="true" class="fa fa-rupee marL5"></i> 5 Lakh </strong>
                                </label>
                                <label class="price">Sum Assured :
                                    <strong> <i aria-hidden="true" class="fa fa-rupee marL5"></i> 5 Lakh </strong>
                                </label>
                                <button class="btn communication-address marT15" type="submit">
                                    Buy Now <br> <i aria-hidden="true" class="fa fa-inr"></i> 7,433
                                </button>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <mat-tab-group>
                                <mat-tab label="Features">
                                    <div class="col-md-12 padT20">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td class="colum-table-tittle">Main Features</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2">Copay : 0%</td>
                                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2">Room rent : No limit on room rent </td>
                                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2">Waiting period : 4 years</td>
                                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2">Renewal Bonus : 5.0%</td>
                                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2">Health Checkup : Available</td>
                                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="marT20">
                                            <table>
                                                <tr>
                                                    <td class="colum-table-tittle">Special Features</td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2"><i class="fa fa-check"
                                                            aria-hidden="true"></i> 100% Restore Benefit </td>
                                                </tr>
                                                <tr>
                                                    <td class="colum-table2"><i class="fa fa-check"
                                                            aria-hidden="true"></i> No Claim Bonus of 50% every year
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </mat-tab>
                                <!-- <mat-tab label="Plan Details"> Content 2 </mat-tab> -->
                                <mat-tab label="Covered">
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Must have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Benefits if you don't claim</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses before Admission</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses after Discharge</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Restore benefits </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Organ donor</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-12 marT20">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Good to have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Pregnancy cover</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Health Checkup</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Daily hospitalization allowance</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Emergency ambulance </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Ayurveda/Homeopathy</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Not Covered">
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Must have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Benefits if you don't claim</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses before Admission</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses after Discharge</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Restore benefits </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Organ donor</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-12 marT20">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Good to have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Pregnancy cover</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Health Checkup</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Daily hospitalization allowance</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Emergency ambulance </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Ayurveda/Homeopathy</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Premium & Cover Change">
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Must have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Benefits if you don't claim</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses before Admission</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses after Discharge</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Restore benefits </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Organ donor</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Good to have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Pregnancy cover</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Health Checkup</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Daily hospitalization allowance</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Emergency ambulance </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Ayurveda/Homeopathy</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Network Hospitals (25)">
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Must have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Benefits if you don't claim</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses before Admission</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Expenses after Discharge</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Restore benefits </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Organ donor</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-12 marT20">
                                                <table>
                                                    <tr>
                                                        <td class="colum-table-tittle">Good to have features</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Pregnancy cover</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Health Checkup</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Daily hospitalization allowance</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Emergency ambulance </td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="colum-table2">Ayurveda/Homeopathy</td>
                                                        <td><i class="fa fa-question-circle" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg Plan_Details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"
            >
                <h5 class="modal-title">Refine Plans </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12  padT10">
                    <label class="col-md-2 padT7">Select Coverage :</label>
                    <div class="col-md-4">
                        <select class="form-control" name="plans">
                            <option value="100000">1L to 3L</option>
                            <option value="400000">4L to 5L</option>
                            <option value="600000">6L to 9L</option>
                            <option value="1000000">10L to 14L</option>
                            <option value="1500000">15L to 24L</option>
                            <option value="2500000">25L+</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <div>
                            <table>
                                <tr>
                                    <td class="colum-table2">Room Rent Limit</td>
                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>No preference</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Only plans with no room limit</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Must have Single Room or higher</mat-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="marT10">
                            <table>
                                <tr>
                                    <td class="colum-table2">Pre existing disease waiting period</td>
                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>No preference</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Covered after 2 years or less</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Covered after 3 years or less</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Covered after 4 years or less</mat-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <table>
                                <tr>
                                    <td class="colum-table2">Copay</td>
                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Doesn’t Matter</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Only plans without any co-pay</mat-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="marT10">
                            <table>
                                <tr>
                                    <td class="colum-table2">Critical Illness </td>
                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Doesn’t Matter</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Only plans with additional Critical Illness covers</mat-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="marT10">
                            <table>
                                <tr>
                                    <td class="colum-table2">Maternity Cover</td>
                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Doesn’t Matter</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Only plans with Maternity cover</mat-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <table>
                                <tr>
                                    <td class="colum-table2">Prefered brands</td>
                                    <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Apollo Munich Health Insurance</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Max Bupa Health Insurance</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Religare</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>HDFC ERGO</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>ManipalCigna</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Kotak Mahindra General Insurance</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Aditya Birla Health Insurance</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Royal Sundaram</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Raheja QBE General Insurance</mat-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="colum-table2">
                                        <mat-checkbox>Edelweiss General Insurance Company Limited</mat-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Apply Filters</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Clear</button>
            </div>
        </div>
    </div>
</div>