<!--==========================
    Header
  ============================-->
<header id="header">
  <div class="container-fluid">
    <div class="row">
      <!-- <div id="logo" class="pull-left" routerLink="/pos/bike-insurance">
            <img src="./assets/img/logo.png" class="img-responsive logo-img">
        </div> -->
      <div class="col-md-7 col-lg-5">
        <!-- <div id="logo" class="pull-left" routerLink="/pos"> -->
        <div id="logo" class="pull-left" >
          <!-- <h1><a href="#body" class="scrollto">Reve<span>al</span></a></h1> -->
          <img src="./assets/img/logo.png" class="img-responsive logo-img">
          <h4>Insurance Brokers Pvt. Ltd.</h4>
          <p>IRDA Direct Broker Code: IRDA/ DB 810/ 20</p>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
      </div>
      </div>
      </div>
    </header>