<!-- policy expired popup -->
<div class="Previous_policy" *ngIf="isVisible && isRememberPrvPolDetails==1">
  <div class="col-md-4 mx-auto">
    <mat-card class="policy_card">
      <div class="policy_card_header">
        Which cover did you have on your previous policy?
        <button type="button" class="close" data-dismiss="modal" (click)="closePopup()">
          &times;
        </button>
      </div>
      <div class="policy_card_body" *ngIf="PolicyExpiryType != undefined">
        <div class="col-md-12" *ngFor="let p of PolicyExpiryType">
          <!-- PolicyTypeCode
            PolicyTypeDesc
            PolicyTypeDescDetail -->
          <!-- <mat-card #chkValue (change)="onSelect(chkValue)">
                <input matInput #chkValue (change)="onSelect(chkValue)" [value]="p.PolicyTypeCode">
                {{ p.PolicyTypeDesc }}
                {{ p.PolicyTypeDescDetail }}
              </mat-card> -->
          <mat-card class="policyExpiryType" [matTooltip]="p.PolicyTypeDescDetail" matTooltipPosition="right"
            (click)="onSelect(p.PolicyTypeCode)">
            <span>{{ p.PolicyTypeDesc }}</span>
            <br />
            <!-- <mat-panel-description>
              {{ p.PolicyTypeDescDetail }}ks
            </mat-panel-description> -->
          </mat-card>
        </div>
        <div class="col-md-12 alert alert-primary" *ngIf="this.PolicyExpiryType == undefined">
          Please contact to admin. Thanks for patience.
        </div>
      </div>
    </mat-card>
  </div>
</div>


<!--which policy customer want  popup -->
<div class="Previous_policy" *ngIf="isVisible  && isRememberPrvPolDetails==0">
  <div class="col-md-4 mx-auto">
    <mat-card class="policy_card">
      <div class="policy_card_header">
        Which cover do you want ?
        <button type="button" class="close" data-dismiss="modal" (click)="closePopup()">
          &times;
        </button>
      </div>
      <div class="policy_card_body" *ngIf="PolicyExpiryType != undefined">
        <div class="col-md-12" *ngFor="let p of PolicyExpiryType">
          <!-- PolicyTypeCode
            PolicyTypeDesc
            PolicyTypeDescDetail -->
          <!-- <mat-card #chkValue (change)="onSelect(chkValue)">
                <input matInput #chkValue (change)="onSelect(chkValue)" [value]="p.PolicyTypeCode">
                {{ p.PolicyTypeDesc }}
                {{ p.PolicyTypeDescDetail }}
              </mat-card> -->
          <mat-card class="policyExpiryType" [matTooltip]="p.PolicyTypeDescDetail" matTooltipPosition="right"
            (click)="onSelect(p.PolicyTypeCode)">
            <span>{{ p.PolicyTypeDesc }}</span>
            <br />
            <!-- <mat-panel-description>
              {{ p.PolicyTypeDescDetail }}ks
            </mat-panel-description> -->
          </mat-card>
        </div>
        <div class="col-md-12 alert alert-primary" *ngIf="this.PolicyExpiryType == undefined">
          Please contact to admin. Thanks for patience.
        </div>
      </div>
    </mat-card>
  </div>
</div>
