<app-headerforsharedlink></app-headerforsharedlink>

<!-- <div class="materila-card mat-stepper-horizontal ng-tns-c4-1 mat-stepper-label-position-end bike_last_details">
    <div class="row">
        <div class="col-md-6">
            <div class="bike_owner_header">
                <label>BIKE OWNER DETAILS</label>

            </div>
            <div class="bike_owner_details">
               
            </div>

        </div>


        <div class="col-md-12 text-center text-error">
            Success
        </div>




    </div>
</div> -->

<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper pt-3">
                    <h1>
                        Thank You !
                    </h1>
                    <p>Please check your ckyc status on ckyc page... </p>
                    <!-- <a routerLink="/login">Back to home</a> -->
                    <button class="btn" style="width: 20%;" (click)="CloseTap()">Back to ckyc page.</button>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</section>