<div class="pos_body">
  <!--==========================    Header  ============================-->
  <!-- <pos-header></pos-header> -->

  <!-- <app-full-loader [display]="showLoader"></app-full-loader> -->
  <!-- #header -->
  <header id="header">
    <div class="container-fluid">
      <!-- <div id="logo" class="pull-left" routerLink="/pos/bike-insurance">
                <img src="./assets/img/logo.png" class="img-responsive logo-img">
            </div> -->
      <div id="logo" class="pull-left" routerLink="">
        <!-- <h1><a href="#body" class="scrollto">Reve<span>al</span></a></h1> -->
        <img src="./assets/img/logo.png" class="img-responsive logo-img" />
        <h4>Insurance Brokers Pvt. Ltd.</h4>
        <p>IRDA Direct Broker Code: IRDA/ DB 810/ 20</p>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
    </div>
  </header>
  <main id="main">
    <!-- body start -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-8 box-tap">
          <mat-card>
            <div class="row">
              <!-- <div class="col-md-6">
                                <div class="login_info">
                                    <span class="login_icon">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    </span>

                                    <div class="login_heading">My Account<em>Your own online
                                            Personal Assistant</em></div>
                                    <div class="login_subtext">
                                        <ul class="subtext_data">
                                            <li>View Policy Details</li>
                                            <li>Raise Queries</li>
                                            <li>See your recent searches</li>
                                            <li>Upload Documents</li>
                                            <li>Customer Care</li>
                                            <li>Reviews &amp; Feedback</li>
                                        </ul>
                                    </div>
                                    <span class="arrow_div"></span>
                                </div>
                            </div> -->
              <div class="col-md-12">
                <div *ngIf="!renewPass" class="fade-in">
                  <form [formGroup]="loginForm" name="quickLookForm" (submit)="onLoginClick()">
                    <div class="col-md-12">
                      <div class="login-form">
                        <div class="col-md-12">
                          <span class="login_icon">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <h2>POS Login</h2>
                          </span>
                        </div>
                        <div class="col-md-12 icon-field">
                          <mat-form-field class="">
                            <span matPrefix><i class="fa fa-user-o" aria-hidden="true"></i>
                              &nbsp;</span>
                            <input #username formControlName="username" type="tel" matInput required
                              placeholder="User Name" name="userName" appDisallowWhitespace />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12 icon-field">
                          <mat-form-field class="">
                            <span matPrefix><i class="fa fa-lock" aria-hidden="true"></i>
                              &nbsp;</span>
                            <input #password formControlName="password" type="password" matInput required
                              placeholder="Password" name="password" appDisallowWhitespace />
                          </mat-form-field>
                        </div>
                        <div class="login_proceed">
                          <button type="submit">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            {{ loginForm.get("btnText")?.value }}
                          </button>
                        </div>

                        <div class="login_proceed">
                          <a (click)="onClickForgotPass()">Forgot Password?</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div *ngIf="renewPass" class="login-form">
                  <div *ngIf="isOtpScreen" class="fade-in">
                    <div class="col-md-12">
                      <span class="login_icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <h2 class="mt-1">Reset Password</h2>
                      </span>
                      <div class="col-md-12 mt-3 text-center">
                        <mat-radio-group aria-label="Select an option" [disabled]="isOtpSent"
                          [(ngModel)]="userSelection">
                          <mat-radio-button value="mobile">Mobile number </mat-radio-button>&nbsp;&nbsp;
                          <mat-radio-button value="userid">User id
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="col-md-12 icon-field" [hidden]="userSelection != 'mobile'">
                        <mat-form-field class="">
                          <span matPrefix><i class="fa fa-mobile" aria-hidden="true"></i>
                            &nbsp;</span>
                          <input [formControl]="mobileNumber" appOnlyNumbers maxlength="10" type="text" matInput
                            required placeholder="Enter mobile number" appDisallowWhitespace />
                        </mat-form-field>
                      </div>
                      <div class="col-md-12 icon-field" [hidden]="userSelection != 'userid'">
                        <mat-form-field class="">
                          <span matPrefix><i class="fa fa-user-o" aria-hidden="true"></i>
                            &nbsp;</span>
                          <input [(ngModel)]="userId" [disabled]="isOtpSent && userSelection == 'userid'" maxlength="30"
                            type="text" matInput required placeholder="Enter user id" appDisallowWhitespace />
                        </mat-form-field>
                      </div>
                      <div class="col-md-12" [hidden]="!isOtpSent">
                        <div class="row">
                          <div class="col-md-12 icon-field">
                            <mat-form-field class="">
                              <span matPrefix><i class="fa fa-key" aria-hidden="true"></i>
                                &nbsp;</span>
                              <input [(ngModel)]="otp" type="text" maxlength="8" matInput required
                                placeholder="Enter OTP" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <div class="text-right" *ngIf="!!timerSub">
                              Resend OTP after &nbsp;
                              <b>{{ countDownValue | timerformat }}</b>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="login_proceed" *ngIf="!isOtpSent">
                        <div class="text-danger" [hidden]="!errMessage">
                          {{ errMessage }}
                        </div>
                        <button type="button" (click)="onClickSendOtp()">
                          {{ btnText }}
                        </button>
                      </div>
                      <div class="login_proceed" *ngIf="isOtpSent">
                        <button type="button" (click)="onClickVarifyOtp()">
                          Verify OTP
                        </button>
                      </div>

                      <div class="login_proceed">
                        <a (click)="onClickGoToLogin()">Login here</a>
                      </div>
                    </div>
                  </div>
                  <div class="fade-in top" *ngIf="!isOtpScreen">
                    <form [formGroup]="renewForm" (submit)="onSubmitRenewPassword()">
                      <div class="row col-md-12">
                        <div class="col-md-12 icon-field">
                          <mat-form-field class="">
                            <span matPrefix><i class="fa fa-lock" aria-hidden="true"></i>
                              &nbsp;</span>
                            <!-- (keydown.space)="$event.preventDefault();"  -->
                            <input formControlName="password" type="password" matInput required placeholder="Password"
                              autocomplete="cc-name" name="pass" appDisallowWhitespace />
                            <mat-error>
                              Password length must be between 8-13 characters including uppercase,lowercase, special
                              characters and numbers!
                            </mat-error>
                            <!-- {{renewForm.get('password').errors?.pattern|json}} -->
                          </mat-form-field>
                        </div>
                        <div class="col-md-12 icon-field">
                          <mat-form-field class="">
                            <span matPrefix><i class="fa fa-check" aria-hidden="true"></i>
                              &nbsp;</span>
                            <input formControlName="confirmPassword" type="password" name="cpass" matInput required
                              placeholder="Confirm password" autocomplete="new-password" appDisallowWhitespace />
                          </mat-form-field>
                        </div>
                        <div class="login_proceed">
                          <div class="text-danger" [hidden]="!errMessage">
                            {{ errMessage }}
                          </div>
                          <button type="submit">
                            {{ renewForm.get("btnText")?.value }}
                          </button>
                        </div>

                        <!-- <div class="login_proceed">
                                                    <a (click)="onClickToggle()"
                                                        style="color:#ec691f;cursor: pointer;">Login here</a>
                                                </div> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- body end -->
  </main>

  <!--==========================    Footer  ============================-->
  <!-- <pos-footer></pos-footer> -->

  <!-- #footer -->
</div>

<!-- popup for getting  -->
<!-- <div class="modal fade price_filter" id="userSelectionModel" tabindex="-1" role="dialog"
    aria-labelledby="userSelectionModel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 7px 16px; background: #fbfbfc;">
                <h5 class="modal-title">Select an option </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 filter">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="userSelection"
                            (change)="onClickOk()">
                            <mat-radio-button value="mobile">I have my mobile nuber</mat-radio-button>
                            <mat-radio-button value="userid">I know my user id</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-2 filter text-right">
                        <input type="button" value="Ok" (click)="onClickOk()" class="w--button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->