.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  margin-right: 12px;
}

.mat-form-field {
  width: 100%;
}

.deshboard {
  margin-top: -10px;
}

.deshboard a {
  margin-top: 1px;
  font-size: 13px;
  color: #ec691f;
  font-weight: 500;
  margin-left: 3px;
}

.bike_pannal {
  padding-top: 15px;
}

.mat-tab-label {
  padding: 0 10px !important;
  min-width: 125px !important;
}

.Select_Bike {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(231, 234, 238, 1);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  overflow: auto;
}

.name {
  font-size: 12px;
}

.subname {
  font-size: 9px;
}

.bikebrand_variant {
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 11px 8px;
  margin-left: 10px;
  margin-right: 20px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 318px;
  height: 40px;
  vertical-align: top;
  width: 262px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.bikebrand_variant:hover {
  background-color: #ec6920;
  color: #fff;
}

.btn-add {
  background: #0c2e8a;
  color: #ffffff;
}

/* ------------------------ New css add --------------------------- */

.mat-tab-link {
  max-width: -webkit-fill-available;
  min-width: auto;
  width: 121px;
}

nav.product_list.mat-tab-nav-bar.mat-tab-header.mat-primary .mat-tab-link {
  height: 40px;
}

.mat-tab-label,
.mat-tab-link {
  color: #0c2e8a;
  opacity: initial !important;
}

.card {
  box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.16), 0 7px 40px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
}

.listitem {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 8px 27px 29px -24px rgba(0, 0, 0, 0.06);
  padding: 0px;
}

.box-tap {
  margin: -11px auto 0px;
}

.form-body {
  margin-top: 2%;
  float: left;
  position: relative;
  width: 100%;
}

.card {
  box-shadow: 20px 24px 108px -20px rgba(0, 0, 0, 0.07),
    0 0px 34px -10px rgba(195, 197, 212, 0.57),
    0 2px 64px 0 rgba(70, 90, 207, 0.16);
  border: 0;
  font-weight: 400;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #ec691f;
}

/* .w--button  exist in main style
  {
    background: #ec691f;
      color: #fff;
      border: 1px solid #ec691f;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 3px;
      transition: all 0.4s cubic-bezier(0.25,0.8,0.25,1);
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 15px;
  } */

.Which_RTO {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(231, 234, 238, 1);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: auto;
}

.bikebrand {
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 11px 8px;
  margin-left: 10px;
  margin-right: 20px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 146px;
  height: 40px;
  vertical-align: top;
  width: 185px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.bikebrand:hover {
  background-color: #ec6920;
  color: #fff;
}

/* // by dilshad for rto */

.bikebrand.active {
  background-color: #ec6920;
  color: #fff;
}

.bikebrand_variant.active {
  background-color: #ec6920;
  color: #fff;
}

.bikeinsurance {
  background: rgba(231, 234, 238, 1);
  padding: 100px 8px 10px;
}

.container-two-wheeler-insurance {
  position: relative;
  margin: auto;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  /* width: 748px; --old */
  width: 1000px;
  padding-right: 0;
  padding-left: 0;
  /* padding-bottom: 20px; */
}

.modal_header--hr:before {
  border-bottom: 1px solid #efeff4;
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  margin-top: -1px;
  width: 100%;
  left: 0;
}

.popularbikes:before {
  border-bottom: 1px solid #efeff4;
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  margin-top: 1px;
  width: 100%;
  left: 0;
}

.popularbikes>span {
  background: #fff;
  padding: 5px 10px;
  position: relative;
  font-size: 12px;
}

.modal_header--hr>span {
  background: #fff;
  padding: 5px 10px;
  position: relative;
}

.bike-insu-section h4 {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
  line-height: 1.4em;
  font-family: "Raleway", sans-serif;
}

.bike-insu-section span {
  display: block;
  opacity: 0.45;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.main-content {
  padding-left: 45px;
}

.modal_header span {
  font-size: 12px;
}

/**** nav tabs start****/
/* Tabs*/
/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs h6.section-title {
  color: #eee;
}

/* #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #f3f3f3 !important;
      background-color: #ec6920;
      border-color: transparent transparent #f3f3f3;
      border-bottom: 4px solid !important;
      font-size: 20px;
      font-weight: bold;
  } */
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #eee;
  font-size: 20px;
}

.container-two-wheeler-insurance nav div#nav-tab a {
  color: #000;
  border-bottom-color: transparent !important;
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 0px;
}

.pt-3,
.py-3 {
  padding-top: 0.5rem !important;
}

.selectmodel {
  border-color: #4a90e2;
}

/**** nav tabs end ****/
/**** bike company name start ****/
.bikemanufacturer {
  font-size: 10px !important;
  text-transform: uppercase;
  color: #7f8a94;
  padding-bottom: 8px !important;
  padding-top: 14px !important;
}

.bike-company-name {
  font-size: 14px !important;
  text-transform: capitalize;
  color: #314451;
}

.btnedit {
  float: right;
  margin-top: -20px;
  font-size: 10px;
  text-transform: uppercase;
  color: #4a90e2;
  font-weight: 600;
}

.mobel-varient {
  padding-bottom: 8px !important;
  padding-top: 14px !important;
  font-size: 10px !important;
  text-transform: uppercase;
  color: #7f8a94;
}

/**** bike company name end ****/
.bike-company-model {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #eff1f4;
}

.select-brand {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.bike-brand-model {
  padding-left: 0;
  list-style-type: none;
  /* width: 480px; */
}

.bike-brand-model li {
  display: inline-block;
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 10px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  vertical-align: top;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
  height: inherit;
  width: 230px;
  margin-right: 5px;
}

div#nav-tabContent {
  padding-bottom: 0 !important;
  padding-top: 20px !important;
}

@media screen and (max-width: 1024px) {
  .container-two-wheeler-insurance {
    width: 80%;
  }

  .bike-brand-model {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .bikebrand {
    min-width: 100% !important;
    width: 100% !important;
    margin-left: 0px;
  }

  .main-content {
    padding-left: 50px;
  }

  .main-content {
    padding-left: 20px;
  }

  .bike-brand-model li {
    width: 100%;
  }

  .bikebrand {
    min-width: 100% !important;
    width: 100% !important;
    margin-left: 0px;
  }

  .container-two-wheeler-insurance {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .main-content {
    padding-left: 50px;
  }

  .main-content {
    padding-left: 20px;
  }

  .bike-brand-model li {
    width: 100%;
  }

  .ribbon-3 {
    width: 96.6% !important;
    height: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .bike-insu-div h4 {
    font-size: 20px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) and (min-width: 425px) {
  .bike-brand-model li {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .bikebrand {
    min-width: 40% !important;
    width: 40% !important;
  }

  .main-content {
    padding-left: 35px;
  }

  .bike-brand-model li {
    width: 250px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 991px) {
  .bikebrand {
    min-width: 205px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .bikebrand {
    min-width: 212px;
  }

  .main-content {
    padding-left: 45px;
  }
}

.btncancel {
  position: absolute;
  right: -80px;
  top: -70px;
  color: #999;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px;
}

.btncancel img {
  width: 20px;
}

.btncancel:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.rtoinsurance {
  background: rgba(231, 234, 238, 1);
  padding: 100px 8px 20px;
}

.container-rto {
  position: relative;
  margin: auto;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 748px;
  padding-right: 0;
  padding-left: 0;
  /* padding-bottom: 20px; */
}

/* .btncancel{
      position: absolute;
      right: -80px;
      TOP: -70px;
      color: #999;
      cursor: pointer;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 6px;
  }
  .btncancel img{
      width: 20px;
  }
  .btncancel:hover{
      background-color: rgba(0,0,0,0.05);
      border-radius: 50%;
  } */
.modal_header--hr:before {
  border-bottom: 1px solid #efeff4;
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  margin-top: -1px;
  width: 100%;
  left: 0;
}

.popularcity:before {
  border-bottom: 1px solid #efeff4;
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  margin-top: 1px;
  width: 100%;
  left: 0;
}

.popularcity>span {
  background: #fff;
  padding: 5px 10px;
  position: relative;
  font-size: 12px;
}

.modal_header--hr>span {
  background: #fff;
  padding: 5px 10px;
  position: relative;
}

.rto-city {
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 11px 8px;
  margin-left: 10px;
  margin-right: 20px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 150px;
  height: 40px;
  vertical-align: top;
  width: 185px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.bike-rto-section h4 {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
  line-height: 1.4em;
  font-family: "Raleway", sans-serif;
}

.bike-rto-section span {
  display: block;
  opacity: 0.45;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.main-city-content {
  padding-left: 45px;
}

.modal_header span {
  font-size: 12px;
}

.rto-city:hover {
  background-color: #ec6920;
  color: #fff;
}

/**** nav tabs start****/
/* Tabs*/
/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #eee;
  font-size: 20px;
}

.container-rto nav div#nav-tab a {
  color: #000;
  border-bottom-color: transparent !important;
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
}

.selectmodel {
  border-color: #888;
}

/**** nav tabs end ****/
/**** bike company name start ****/
.bikemanufacturer {
  font-size: 10px !important;
  text-transform: uppercase;
  color: #7f8a94;
  padding-bottom: 8px !important;
  padding-top: 14px !important;
}

.bike-company-name {
  font-size: 14px !important;
  text-transform: capitalize;
  color: #314451;
}

.btnedit {
  float: right;
  margin-top: -20px;
  font-size: 10px;
  text-transform: uppercase;
  color: #4a90e2;
  font-weight: 600;
}

.mobel-varient {
  padding-bottom: 8px !important;
  padding-top: 14px !important;
  font-size: 10px !important;
  text-transform: uppercase;
  color: #7f8a94;
}

/**** bike company name end ****/
.bike-company-model {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #eff1f4;
}

.select-brand {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.bike-brand-model {
  padding-left: 0;
  list-style-type: none;
  /* width: 480px; */
}

.bike-brand-model li {
  display: inline-block;
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 10px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  vertical-align: top;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
  height: inherit;
  width: 230px;
  margin-right: 5px;
}

div#nav-tabContent {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 1024px) {
  container-rto {
    width: 80%;
  }

  .bike-brand-model {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .rto-city {
    min-width: 100% !important;
    width: 100% !important;
    margin-left: 0px;
  }

  .container-rto {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-city-content {
    padding-left: 50px;
  }

  .main-city-content {
    padding-left: 20px;
  }

  .bike-brand-model li {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 425px) {
  .bike-brand-model li {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .rto-city {
    min-width: 40% !important;
    width: 40% !important;
  }

  .main-city-content {
    padding-left: 35px;
  }

  .bike-brand-model li {
    width: 250px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 991px) {
  .rto-city {
    min-width: 205px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .rto-city {
    min-width: 212px;
  }

  .main-city-content {
    padding-left: 45px;
  }
}

.rto-number {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #eff1f4;
}

.select-brand {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.rto-code {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 6px;
}

.py-3 {
  padding-bottom: 0 !important;
}

.rto-code li {
  display: inline-block;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  vertical-align: top;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-top: 10px;
  height: inherit;
  width: 230px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.rto-code p,
.rto-code h5 {
  margin-bottom: 0;
  float: left;
}

.rto-code h5 {
  float: left;
  font-size: 13px;
  font-weight: bold;
  color: #314451;
  padding-right: 10px;
}

.rto-code:nth-child(2n) {
  background-color: hsla(216, 7%, 87%, 0.46);
}

/* New Gender Radio Button Css pratik */

.mat-radio-label-content {
  font-size: 28px;
}

/* .members .mat-checkbox {
    float: left;
    zoom: 1.2;
} */
/* .mat-chip-list-wrapper:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
mat-chip-list:focus {
    outline: none;
} */

/* Previous Policy Dilogue */

.previous_policy_dailoge #tabs .nav-tabs .nav-item.show .nav-link,
.previous_policy_dailoge .nav-tabs .nav-link.active {
  color: #949494 !important;
  background-color: #a98e7f00;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 0px solid !important;
  font-size: 14px;
  font-weight: 500;
}

/* ------------------------ New css add --------------------------- */

.mat-tab-link {
  max-width: -webkit-fill-available;
  min-width: auto;
  width: 110px;
}

.mat-tab-label,
.mat-tab-link {
  color: #0c2e8a;
  opacity: initial !important;
}

[class^="ribbon-"] {
  position: relative;
  margin-bottom: 80px;
}

[class^="ribbon-"]:before,
[class^="ribbon-"]:after {
  content: "";
  position: absolute;
}

.ribbon-3 {
  width: 90.6%;
  height: 35px;
  margin-left: -10px;
  margin-right: -10px;
  background: #083b66;
  margin: 0 auto 10px;
  z-index: 2;
  color: #fff;
}

.ribbon-3:before {
  height: 0;
  width: 0;
  border-top: 10px solid #083b66;
  border-left: 10px solid transparent;
  bottom: -10px;
}

.ribbon-3:after {
  height: 0;
  width: 0;
  border-top: 10px solid #083b66;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}

.ribbon-3 h2 {
  color: #fff;
  margin: 7px 0;
  font-size: 18px;
  text-align: center;
}

.extra {
  background: #bfbfbf;
  height: 1px;
  width: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 20px auto 10px;
}

.extra p {
  position: absolute;
  left: 0;
  right: 0;
  background: #eee;
  height: 30px;
  width: 30px;
  padding: 5px 0;
  border-radius: 15px;
  text-align: center;
  margin: -15px auto;
}

/*Previous Policy Expired POpup */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #083b66;
  border-color: #083b66 #083b66 #fff;
}

.policyexpiry .modal-backdrop {
  background: rgb(231 234 238 / 97%);
  opacity: 1;
}

.policyexpiry .modal-header {
  padding: 5px 10px;
  background: #083b66;
  color: #fff;
}

.policyexpiry .modal-header .modal-title {
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.bike_area {
  display: block;
}

.deshboard {
  margin-left: 10px;
  margin-top: 2px;
}

.w--button.w--button--orange w--button--large {
  color: #ffffff;
}

.close {
  color: #ffffff;
  opacity: 1;
  margin: 0px 0px 0px 0;
  padding: 0;
}

.btn1 {
  background-color: #083b66;
}

.lds-ripple {
  display: none;
}

.modal-footer {
  background: #dfe0e0;
}

.two {
  margin-bottom: 60px;
  border-radius: 0px;
}


.CarrierType .mat-card {
  width: 50%;
  margin: 10px auto;
  border: #0c2e8a solid 1px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  /* transform: scale(1); */
  box-shadow: none;
  transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

.CarrierType .mat-card:hover {
  background: #083b66;
  /* transform: scale(1.1); */
  box-shadow: none;
  transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

.CarrierType .mat-card:hover .mat-expansion-panel-header-description {
  color: #ffffff;
}

.CarrierType .mat-card .mat-expansion-panel-header-description {
  font-weight: 500;
  color: #083b66;
}

.CarrierType .mat-card:hover span {
  color: #fff;
  text-decoration: underline;
}

.CarrierType .mat-card mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #083b66;
}


.cvbrands img {
  width: 100%;
  max-width: 40px;
}

.cvbrands span {
  width: 100%;
  display: block;
  font-size: 13px;
}


.capacity {
  font-size: 9px;
  margin-top: 5px;
  display: flex;
}

.bikebrand.cvbrands {
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 10px 2px;
  margin-left: 10px;
  margin-right: 20px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 146px;
  height: 100%;
  vertical-align: top;
  width: 185px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.bikebrand.CVehicle {

  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 10px 2px;
  margin-left: 10px;
  margin-right: 12px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 150px;
  height: 85px;
  vertical-align: top;
  width: 185px;
  font-size: 11px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.bikebrand.cvbrands:hover span,
.bikebrand.CVehicle:hover span {
  color: #ffffff !important;
}

.bikebrand.cvbrands:hover img {
  filter: invert(100%);
}


.carbrands span {
  width: 100%;
  display: block;
  font-size: 13px;
}

.bikebrand.carbrands {
  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 10px 2px;
  margin-left: 10px;
  margin-right: 20px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 146px;
  height: 100%;
  vertical-align: top;
  width: 185px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
  background-color: #e9e9e9;
}

.bikebrand.CARVehicle {

  border: 1px solid hsla(0, 0%, 59%, 0.27);
  padding: 10px 2px;
  margin-left: 10px;
  margin-right: 12px;
  color: #314451;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 150px;
  height: 85px;
  vertical-align: top;
  width: 185px;
  font-size: 11px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}

/* .bikebrand.carbrands:hover span,
.bikebrand.CARVehicle:hover span {
  color: #ffffff !important;
} */

/* .bikebrand.carbrands:hover img {
  filter: invert(100%);
} */

.carbrands img {
  width: 100%;
  max-width: 50px;
}

.carbrands span {
  width: 100%;
  display: block;
  font-size: 13px;
}

.image_size img {
  height: 30px;
  width: 45px !important;
}

@media screen and (max-width: 767px) {
  .CarrierType .mat-card {
    width: 100%;
  }
}

.w--buttonFade {
  background: #fda574;
  color: #fff;
  border: 1px solid #fda574;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* cursor     : pointer; */
  margin-top: 15px;
}