 /* ------ dilshad -------- */
    div#nav-home {
    width: 100%;
}
.container-two-wheeler-insurance {
    width: 100% !important;
}
.bike-insu-div{
    margin-bottom: 0px;
}
.bike_area{
    display: block;
}