.datepickerpannel
{
    padding-top: 10px;
}
.policy_block
{
    padding: 5px 0px;
    background: #083b66;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    color: #ffffff;
}
.mat-card
{
    margin-bottom: 80px;
}