.table tbody tr td:first-child {
  width: 30%;
}

mat-card{
width: 100%;
}

.table tbody tr td {
  font-weight: 500;
}


/* Ribbon */

[class^="ribbon-"] {
position: relative;
margin-bottom: 80px;
}
[class^="ribbon-"]:before, [class^="ribbon-"]:after {
content: "";
position: absolute;
}

.ribbon-3{
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
  background: #083b66;
  margin: 0 auto;
  z-index: 2;
  color: #fff;
}
.ribbon-3:before {
height: 0;
width: 0;
border-top: 10px solid #083b66;
border-left: 10px solid transparent;
bottom: -10px;
}
.ribbon-3:after {
height: 0;
width: 0;
border-top: 10px solid #083b66;
border-right: 10px solid transparent;
right: 0;
bottom: -10px;
}

.ribbon-3 h2 {
  color: #fff;
  margin: 0 0;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
}

.policy-genrt {
  float: left;
  position: relative;
  width: 97.3%;
  margin: 0 10px 0;
}


.policy-genrt .mat-card {
border-radius: 0;
padding: 5px;
}

.table tbody tr td {
  padding: 4px;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0;
}
