<!-- loader above -->
<!-- <app-full-loader [display]="showLoader"></app-full-loader> -->

<!-- bike model , variant div -->
<div class="Select_Bike" *ngIf="isVisible">
  <div class="bikeinsurance">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btncancel close_btn" (click)="closePopup()">
            <img src="./assets/img/close.png" class="img-responsive" />
          </div>
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container container-two-wheeler-insurance">
              <form [formGroup]="bikeForm">
                <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="selectedTabChange($event)">
                  <mat-tab label="Bike Manufacturer">
                    <app-sm-loader *ngIf="showLoader"></app-sm-loader>
                    <div class="col-md-12" *ngIf="!showLoader">
                      <div class="tab-content py-3 px-3 px-sm-0 Bike_Manufacturer" id="nav-tabContent">
                        <div class="row tab-pane fade show active" id="nav-home" role="tabpanel"
                          aria-labelledby="nav-home-tab">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-8">
                                <div class="bike-insu-div">
                                  <h4 style="margin-bottom: 0px">
                                    What is your bike manufacturer?
                                  </h4>
                                  <label style="
                                      font-size: 12px;
                                      color: #948080;
                                      margin-bottom: 15px;
                                    ">
                                    Search for your bike manufacturer
                                  </label>
                                </div>
                                <div class="row">
                                  <div class="col-md-2"></div>
                                  <div class="search-bike col-md-8">
                                    <!-- <mat-form-field appearance="outline">
                                      <mat-label>Outline form field</mat-label>
                                      <input
                                        matInput
                                        placeholder="Placeholder"
                                      />
                                      <mat-icon matSuffix
                                        >sentiment_very_satisfied</mat-icon
                                      >
                                      <mat-hint>Hint</mat-hint>
                                    </mat-form-field> -->
                                    <mat-form-field appearance="outline">
                                      <mat-label>Select Manufacturer</mat-label>
                                      <input formControlName="BikeBrandDesc" matInput [matAutocomplete]="autoBrand" />
                                      <mat-icon matSuffix>search</mat-icon>
                                      <mat-autocomplete (optionSelected)="
                                          onSelectBikeManufacturar(
                                            $event.option.value
                                          )
                                        " #autoBrand="matAutocomplete">
                                        <mat-option value="{{
                                            man.BikeBrandCode +
                                              ',' +
                                              man.BikeBrandDesc
                                          }}" *ngFor="
                                            let man of filteredBikeBrands
                                              | async
                                          ">
                                          {{ man.BikeBrandDesc }}
                                        </mat-option>
                                      </mat-autocomplete>
                                      <mat-error *ngIf='af.get("BikeBrandDesc")?.errors?.["requireMatch"]'>
                                        Please select a valid manufacturer name from the list!
                                      </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field>
                                                                            <mat-label>Select Manufacturer</mat-label>
                                                                            <mat-select formControlName="BikeBrandDesc"
                                                                                disableRipple name="BikeBrandCode"
                                                                                (selectionChange)="onSelectBikeManufacturar(bikeForm.get('BikeBrandDesc').value)">
                                                                                <mat-option
                                                                                    value="{{man.BikeBrandCode+','+man.BikeBrandDesc}}"
                                                                                    *ngFor="let man of bikeManufacturarList">
                                                                                    {{man.BikeBrandDesc}}
                                                                                </mat-option>

                                                                            </mat-select>
                                                                        </mat-form-field> -->
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                              </div>
                              <div class="col-md-2"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <h5 class="popularbikes">
                              <span>Popular Manufacturers</span>
                            </h5>
                          </div>
                          <div class="col-md-12 col-sm-12 main-content">
                            <div class="row" *ngIf="bikeManufacturarList.length">
                              <div *ngFor="
                                  let manuf of bikeManufacturarList.slice(0, 12)
                                " [class.active]="
                                  manuf.BikeBrandCode ==
                                  bikeForm.get('BikeBrandCode')?.value
                                " (click)="
                                  onSelectBikeManufacturar(
                                    manuf.BikeBrandCode +
                                      ',' +
                                      manuf.BikeBrandDesc
                                  )
                                " class="col-md-2 bikebrand">
                                <span>{{ manuf.BikeBrandDesc }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="bikeManufacturarList.length == 0">
                            <div class="col-md-12 alert alert-primary">
                              Please contact to admin. Thanks for patience.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Bike Model "
                    [disabled]=" !bikeForm.get('BikeBrandDesc')?.value || bikeForm.get('BikeBrandDesc')?.errors">
                    <app-sm-loader *ngIf="showLoader"></app-sm-loader>
                    <div class="col-md-12" *ngIf="!showLoader">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="">
                          <div class="tab-content py-3 px-3 px-sm-0 Bike_Model_and_Variant" id="nav-tabContent">
                            <div class="row tab-pane fade show active" id="nav-insurance" role="tabpanel"
                              aria-labelledby="nav-home-tab">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-2"></div>
                                  <div class="col-md-8">
                                    <div class="bike-insu-div">
                                      <h4 style="margin-bottom: 0px">
                                        What is your
                                        {{
                                        bikeForm.get("BikeBrandDesc")?.value
                                        ? bikeForm.get("BikeBrandDesc")
                                        ?.value
                                        : ""
                                        }}
                                        model?
                                      </h4>
                                      <label style="
                                          font-size: 12px;
                                          color: #948080;
                                          margin-bottom: 15px;
                                        ">
                                        Select your
                                        {{
                                        bikeForm.get("BikeBrandDesc")?.value
                                        ? bikeForm
                                        .get("BikeBrandDesc")
                                        ?.value.split(",")[1]
                                        : ""
                                        }}
                                        model
                                      </label>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-2"></div>
                                      <div class="search-bike col-md-8">
                                        <div class="form-group">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Select
                                              {{
                                              bikeForm.get("BikeBrandDesc")
                                              ?.value
                                              ? bikeForm.get(
                                              "BikeBrandDesc"
                                              )?.value
                                              : ""
                                              }}
                                              model</mat-label>
                                            <input type="text" formControlName="BikeModelDesc" matInput
                                              [matAutocomplete]="autoModel" />
                                            <mat-icon matSuffix>search</mat-icon>
                                            <mat-autocomplete (optionSelected)="
                                                onSelectBikeModel(
                                                  $event.option.value
                                                )
                                              " #autoModel="matAutocomplete">
                                              <mat-option value="{{
                                                  model.BikeModelCode +
                                                    ',' +
                                                    model.BikeModelDesc
                                                }}" *ngFor="
                                                  let model of filteredBikeModels
                                                    | async
                                                ">
                                                {{ model.BikeModelDesc }}
                                              </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf='af.get("BikeModelDesc")?.errors?.["requireMatch"]'>
                                              Please select a valid Bike Modal name from the list!
                                            </mat-error>
                                          </mat-form-field>

                                          <!-- ///// -->
                                          <!-- <mat-form-field>
                                                                                        <mat-label>Select
                                                                                            {{bikeForm.get('BikeBrandDesc').value ? bikeForm.get('BikeBrandDesc').value.split(',')[1] : ''}}
                                                                                            model</mat-label>
                                                                                        <mat-select name="BikeModelCode"
                                                                                            formControlName="BikeModelDesc"
                                                                                            disableRipple
                                                                                            (selectionChange)="onSelectBikeModel(bikeForm.get('BikeModelDesc').value)">
                                                                                            <mat-option
                                                                                                value="{{model.BikeModelCode+','+model.BikeModelDesc}}"
                                                                                                *ngFor="let model of bikeModelList">
                                                                                                {{model.BikeModelDesc}}
                                                                                            </mat-option>

                                                                                        </mat-select>
                                                                                    </mat-form-field> -->
                                        </div>
                                      </div>
                                      <div class="col-md-2"></div>
                                    </div>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <h5 class="modal_header modal_header--hr">
                                  <span>Popular
                                    {{
                                    bikeForm.get("BikeBrandDesc")?.value
                                    ? bikeForm.get("BikeBrandDesc")?.value
                                    : ""
                                    }}
                                    Models</span>
                                </h5>
                              </div>
                              <div class="col-md-12 main-content">
                                <div class="row" class="bike_add row" *ngIf="bikeModelList.length">
                                  <div *ngFor="
                                      let model of bikeModelList.slice(0, 12)
                                    " [class.active]="
                                      model.BikeModelCode ==
                                      bikeForm.get('BikeModelCode')?.value
                                    " (click)="
                                      onSelectBikeModel(
                                        model.BikeModelCode +
                                          ',' +
                                          model.BikeModelDesc
                                      )
                                    " class="col-md-2 bikebrand">
                                    <span>{{ model.BikeModelDesc }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Bike Variant "
                    [disabled]="(!bikeForm.get('BikeModelDesc')?.value||bikeForm.get('BikeModelDesc')?.errors) || (!bikeForm.get('BikeBrandDesc')?.value || bikeForm.get('BikeBrandDesc')?.errors)">
                    <app-sm-loader *ngIf="showLoader"></app-sm-loader>
                    <div class="col-md-12" *ngIf="!showLoader">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="">
                          <div class="tab-content py-3 px-3 px-sm-0 Bike_Model_and_Variant" id="nav-tabContent">
                            <div class="row tab-pane fade show active" id="nav-insurance" role="tabpanel"
                              aria-labelledby="nav-home-tab">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-2"></div>
                                  <div class="col-md-8">
                                    <div class="bike-insu-div">
                                      <h4 style="margin-bottom: 0px">
                                        What is your
                                        {{
                                        bikeForm.get("BikeBrandDesc")?.value
                                        ? bikeForm.get("BikeBrandDesc")
                                        ?.value
                                        : ""
                                        }}
                                        {{
                                        bikeForm.get("BikeModelDesc")?.value
                                        ? bikeForm.get("BikeModelDesc")
                                        ?.value
                                        : ""
                                        }}
                                        variant?
                                      </h4>
                                      <!-- <label
                                                                                style="font-size: 12px; color: #948080; margin-bottom: 15px;">
                                                                                Select your
                                                                                {{bikeForm.get('BikeBrandDesc').value ? bikeForm.get('BikeBrandDesc').value.split(',')[1] : ''}}
                                                                                variant</label> -->
                                    </div>
                                    <div class="row">
                                      <div class="col-md-2"></div>
                                      <div class="search-bike col-md-8">
                                        <div class="form-group">
                                          <mat-form-field appearance="outline">
                                            <mat-label>
                                              Select your
                                              {{
                                              bikeForm.get("BikeBrandDesc")
                                              ?.value
                                              ? bikeForm.get(
                                              "BikeBrandDesc"
                                              )?.value
                                              : ""
                                              }}
                                              {{
                                              bikeForm.get("BikeModelDesc")
                                              ?.value
                                              ? bikeForm.get(
                                              "BikeModelDesc"
                                              )?.value
                                              : ""
                                              }}
                                              Variant
                                            </mat-label>
                                            <input type="text" formControlName="BikeVariantDesc" matInput
                                              [matAutocomplete]="autoVariant" />
                                            <mat-icon matSuffix>search</mat-icon>
                                            <mat-autocomplete (optionSelected)="
                                                onSelectBikeVariant(
                                                  $event.option.value
                                                )
                                              " #autoVariant="matAutocomplete">
                                              <mat-option value="{{
                                                  item.BikeVariantCode +
                                                    ',' +
                                                    item.BikeVariantDesc +
                                    ',' +
                                    item.CubicCapacity+
                                    ',' +
                                    item.SeatingCapacity+
                                    ','+
                                    item.FuelType +
                                    ','+
                                    item.FuelTypeCode
                                                }}" *ngFor="
                                                  let item of filteredBikeVariant
                                                    | async
                                                ">
                                                {{ item.BikeVariantDesc }}
                                              </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf='af.get("BikeVariantDesc")?.errors?.["requireMatch"]'>
                                              Please select a valid Bike Variant name from the list!
                                            </mat-error>
                                          </mat-form-field>

                                          <!-- ////// -->
                                          <!-- <mat-form-field>
                                                                                        <mat-label>
                                                                                            Select your
                                                                                            {{bikeForm.get('BikeBrandDesc').value ?bikeForm.get('BikeBrandDesc').value.split(',')[1] : ''}}
                                                                                            {{bikeForm.get('BikeModelDesc').value ? bikeForm.get('BikeModelDesc').value.split(',')[1] : ''}}
                                                                                            Variant
                                                                                        </mat-label>
                                                                                        <mat-select
                                                                                            name="BikeVariantCodesdas"
                                                                                            formControlName="BikeVariantDesc"
                                                                                            (selectionChange)="onSelectBikeVariant(bikeForm.get('BikeVariantDesc').value)">
                                                                                            <mat-option
                                                                                                [value]="item.BikeVariantCode+','+item.BikeVariantDesc"
                                                                                                *ngFor="let item of bikeVariantList">
                                                                                                {{item.BikeVariantDesc}}
                                                                                            </mat-option>

                                                                                        </mat-select>
                                                                                    </mat-form-field> -->
                                        </div>
                                      </div>
                                      <div class="col-md-2"></div>
                                    </div>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <h5 class="modal_header modal_header--hr">
                                  <span>
                                    Popular
                                    {{
                                    bikeForm.get("BikeBrandDesc")?.value
                                    ? bikeForm.get("BikeBrandDesc")?.value
                                    : ""
                                    }}
                                    {{
                                    bikeForm.get("BikeModelDesc")?.value
                                    ? bikeForm.get("BikeModelDesc")?.value
                                    : ""
                                    }}
                                    variants</span>
                                </h5>
                              </div>
                              <div class="col-md-12 main-content">
                                <div class="row" class="bike_add row" *ngIf="bikeVariantList.length">
                                  <div class="col-md-2 bikebrand_variant" [class.active]="
                                      item.BikeVariantCode ==
                                      bikeForm.get('BikeVariantCode')?.value
                                    " *ngFor="let item of bikeVariantList" (click)="
                                      onSelectBikeVariant(
                                        item.BikeVariantCode +
                                          ',' +
                                          item.BikeVariantDesc +
                                    ',' +
                                    item.CubicCapacity+
                                    ',' +
                                    item.SeatingCapacity+
                                    ','+
                                    item.FuelType +
                                    ','+
                                    item.FuelTypeCode
                                      )
                                      
                                    ">
                                    <!-- +
                                    ',' +
                                    item.CubicCapacity+
                                    ',' +
                                    item.SeatingCapacity+
                                    ','+
                                    item.FuelType +
                                    ','+
                                    item.FuelTypeCode -->
                                    <span>{{ item.BikeVariantDesc }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <mat-tab label="Bike Registration Year" *ngIf="openBy != 'newBikeForm'"
                    [disabled]=" (!bikeForm.get('BikeModelDesc')?.value||bikeForm.get('BikeModelDesc')?.errors) || (!bikeForm.get('BikeBrandDesc')?.value || bikeForm.get('BikeBrandDesc')?.errors)||(!bikeForm.get('BikeVariantDesc')?.value ||bikeForm.get('BikeVariantDesc')?.errors)">

                    <app-sm-loader *ngIf="showLoader"></app-sm-loader>
                    <div class="col-md-12" *ngIf="!showLoader">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="">
                          <div class="tab-content py-3 px-3 px-sm-0 Bike_Model_and_Variant" id="nav-tabContent">
                            <div class="row tab-pane fade show active" id="nav-insurance" role="tabpanel"
                              aria-labelledby="nav-home-tab">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-10 mx-auto box-tap">
                                    <div class="bike-insu-div">
                                      <h4 style="margin-bottom: 0px">
                                        When was your
                                        {{
                                        bikeForm.get("BikeBrandDesc")?.value
                                        ? bikeForm.get("BikeBrandDesc")
                                        ?.value
                                        : ""
                                        }}
                                        {{
                                        bikeForm.get("BikeModelDesc")?.value
                                        ? bikeForm.get("BikeModelDesc")
                                        ?.value
                                        : ""
                                        }}
                                        registered?
                                      </h4>
                                      <label style="
                                          font-size: 12px;
                                          color: #948080;
                                          margin-bottom: 15px;
                                        ">
                                        Enter the registration date of your
                                        bike
                                      </label>
                                    </div>
                                    <div class="row justify-content-center">
                                      <div class="col-md-8">
                                        <!-- <mat-form-field appearance="outline">
                                          <mat-label>
                                            Select Registration Year
                                          </mat-label>
                                          <input type="text" formControlName="RegistrationYearDesc" matInput
                                            [matAutocomplete]="autoRegYears" />
                                          <mat-icon matSuffix>search</mat-icon>
                                          <mat-autocomplete (optionSelected)="
                                              onSelectRegYear(
                                                $event.option.value
                                              )
                                             " #autoRegYears="matAutocomplete">
                                            <mat-option value="{{
                                                item.RegistrationYearCode +
                                                  ',' +
                                                  item.RegistrationYearDesc
                                              }}" *ngFor="
                                                let item of filteredRegYears
                                                  | async
                                              ">
                                              {{ item.RegistrationYearDesc }}
                                            </mat-option>
                                          </mat-autocomplete>
                                          <mat-error *ngIf='af.get("RegistrationYearDesc")?.errors?.["requireMatch"]'>
                                            Please select a valid Registration Year !
                                          </mat-error>
                                        </mat-form-field> -->

                                        <mat-form-field appearance="outline">
                                          <mat-label>Bike registration date</mat-label>
                                          <input readonly matInput [matDatepicker]="dp2" (click)="dp2.open()"
                                            (dateChange)="onSelectRegYear()" formControlName="RegistrationDate"
                                            [placeholder]="date" [maxlength]="10" />
                                          <mat-datepicker-toggle matSuffix [for]="dp2">
                                          </mat-datepicker-toggle>
                                          <mat-datepicker #dp2 disabled="false"></mat-datepicker>

                                        </mat-form-field>

                                        <!-- ////// -->
                                        <!-- <mat-form-field>
                                                                                    <mat-label>
                                                                                        Select Registration Year
                                                                                    </mat-label>
                                                                                    <mat-select
                                                                                        name="RegistrationYearDesc"
                                                                                        formControlName="RegistrationYearDesc"
                                                                                        disableRipple
                                                                                        (selectionChange)="onSelectRegYear(bikeForm.get('RegistrationYearDesc').value)">
                                                                                        <mat-option
                                                                                            value="{{item.RegistrationYearCode+','+item.RegistrationYearDesc}}"
                                                                                            *ngFor="let item of regYearList">
                                                                                            {{item.RegistrationYearDesc}}
                                                                                        </mat-option>
                                                                                    </mat-select>
                                                                                </mat-form-field> -->
                                      </div>
                                      <div class="col-md-2 "><button (click)="closePopup()" title="View Quotes"
                                          [disabled]="!bikeForm.valid"
                                          [ngClass]="!bikeForm.valid ? 'w--buttonFade mt-2' : 'w--button w--button--orange w--button--large mt-2'">
                                          Next
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="col-md-12">
                                <h5 class="modal_header modal_header--hr">
                                  <span>Select Registration Year</span>
                                </h5>
                              </div>
                              <div class="col-md-12 main-content">
                                <div class="row" class="bike_add row" *ngIf="regYearList.length">
                                  <div class="col-md-2 bikebrand" [class.active]="
                                      item.RegistrationYearCode ==
                                      bikeForm.get('RegistrationYearCode')?.value
                                    " *ngFor="
                                      let item of regYearList.slice(0, 12)
                                    " (click)="
                                      onSelectRegYear(
                                        item.RegistrationYearCode +
                                          ',' +
                                          item.RegistrationYearDesc
                                      )
                                    ">
                                    <span>{{ item.RegistrationYearDesc }}
                                    </span>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </form>
            </div>
          </div>
          <!-- <div>
                        <p>
                            {{bikeForm.value | json}}
                        </p>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>