.Previous_policy {
  height: 100%;
  width: 100%;
  background: rgb(231 234 238 / 97%);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  padding-top: 100px;
}

.policy_card {
  padding: 0px;
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  flex-direction: row;

}

.policy_card_headline {
  width: 100%;
  background: #083b66;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.policy_card_header {
  width: 100%;
  /* background: #083b66; */
  font-size: 16px;
  /* padding: 4px; */
  text-align: start;
  color: #083b66;
  font-weight: 600;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.policy_card_body {
  padding: 10px;
}

.policy_details {
  font-size: 10px;
  margin-bottom: 0px;
  border-top: 1px solid #efefef;
  padding-top: 6px;
}

.close {
  color: #ffffff;
  opacity: 1;
  margin-right: 6px;
}

.policyExpiryType {
  /* width: 350px; */
  margin: 10px;
  border: #0c2e8a solid 1px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  /* transform: scale(1); */
  box-shadow: none;
  transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

.policyExpiryType:active {
  background: #083b66;
  /* transform: scale(1.1); */
  box-shadow: none;
  transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

/* .policyExpiryType:hover {
  background: #083b66;
  box-shadow: none;
  transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
} */

/* .policyExpiryType:hover .mat-expansion-panel-header-description {
  color: #ffffff;
} */

.policyExpiryType span {
  font-weight: 500;
}

/* .policyExpiryType:hover span {
  color: #fff;
  text-decoration: underline;
} */


.prvPolicySubmitDiv {
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.prvPolicyInsurerClass {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.policy_radio_button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn1 {
  background-color: #083b66;
}


.hrLine {
  height: 2px;
  border-width: 0;
  color: rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 767px) {
  .policyExpiryType {
    width: 100%;
  }
}




.example-radio-group {
  /* display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start; */
  font-weight: 500;
}

.example-radio-button {
  margin: 5px;
}
