<div class="row">
  <div class="col-md-12 bike_pannal bike-details-form padT15">
    <div class="row" id="Bike_Number">
      <div class="col-md-12 text-center">
        <mat-radio-group aria-label="Select an option" (change)="onTypeChange(policyType)" [(ngModel)]="policyType">
          <mat-radio-button *ngFor="let item of policySubTypeList" [checked]="policyType == item['SubCateCode']"
            [value]="item.SubCateCode">
            {{ item.SubCateDesc }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <hr />
    <div class="col-md-12 text-center">
      <div class="lds-ripple mx-auto box-tap">
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- Renew policy tab -->
    <form [formGroup]="renewCVForm" (ngSubmit)="onSubmitRenewCV()" *ngIf="policyType == 7 ">
      <div class="bike_area">
        <div class="row" id="Renew_Insorance">
          <div class="col-md-6">
            <div class="field-wrapper">
              <mat-form-field appearance="outline" class="example-full-width" (click)="onClickInput('renewCVForm')">
                <mat-label>Which CV do you ride?</mat-label>
                <input matInput placeholder="Which CV do you ride?" formControlName="CvDisplayValue"
                  title="Which CV do you ride?" readonly required />
              </mat-form-field>
            </div>
            <!-- <label class="col-md-12 deshboard">
                            <a class="row" (click)="onClickKnowBikeNo()"> Wait. I know my bike number.
                            </a></label> -->
          </div>
          <div class="col-md-6">
            <div class="field-wrapper">
              <!-- <mat-form-field class="example-full-width" appearance="outline" (click)="
                  displayRtoPopup =
                    !displayRtoPopup && (openBy = 'renewCVForm')
                ">
                <mat-label>CV registration RTO </mat-label>
                <input matInput placeholder="CV registration RTO" title="CV registration RTO "
                  formControlName="RTODisplayName" readonly required />
              </mat-form-field> -->

              <mat-form-field appearance="outline">
                <mat-label>
                  Select Registration RTO
                </mat-label>
                <input type="text" formControlName="RTODisplayName" matInput [matAutocomplete]="autoRtoReNewCV" />

                <mat-autocomplete (optionSelected)="onSelectRtos($event.option.value)"
                  #autoRtoReNewCV="matAutocomplete">
                  <mat-option value="{{ rto.RTODisplayName }}" *ngFor=" let rto of filteredRtoList | async">
                    {{ rto.RTODisplayNameNew }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field-wrapper">
              <mat-form-field appearance="outline">
                <mat-label>Previous policy expired?</mat-label>
                <mat-select (selectionChange)="
                    onPolicyExpiredChange(
                      renewCVForm.get('isPreviousPolicyExp')?.value,
                      'renewCVForm'
                    )
                  " formControlName="isPreviousPolicyExp" title="Previous policy" required>
                  <mat-option [value]="item.value" *ngFor="let item of yesNoList">{{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <label *ngIf="policyExpireDisplayValue" class="row col-md-12 deshboard">{{ policyExpireDisplayValue
              }}<a (click)="onPolicyExpiredChange(1, 'renewCVForm')">Edit
              </a></label>
          </div>
          <div class="col-md-6">
            <div class="field-wrapper">
              <mat-form-field appearance="outline">
                <mat-label>Any Claims in previous year</mat-label>
                <mat-select formControlName="claimInPreviousYear" required title="Claims in previous year">
                  <mat-option [value]="item.value" *ngFor="let item of yesNoList">{{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <!-- <p>
                    renew Form Status: {{ renewCVForm.value | json }}
                </p> -->
        <div class="col-md-12 text-error" *ngIf="errMsg && renewCVForm.invalid">
          {{ errMsg }}
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <button type="submit" title="View Quotes" class="w--button w--button--orange w--button--large">
                View Quotes
              </button>
            </div>
            <!-- <div class="col-md-12">
              <div class="extra">
                <p>OR</p>
              </div>
              <a
                style="color: #ffffff"
                class="w--button w--button--orange w--button--large"
                (click)="onClickKnowBikeNo()"
              >
                Proceed with Bike Number
              </a>
            </div> -->
          </div>
        </div>
        <!-- <input type="button" value="View" title="View" (click)="View()"
                    class="w--button w--button--orange w--button--large"> -->
        <!-- <button type="submit" title="View Quotes" [disabled]="rerenewCVForm.invalid" class="btn btn-success">View
                    Quotes</button> -->
      </div>
    </form>

    <!-- if know bike number -->
    <form (ngSubmit)="onSubmitKnowBikeNo()" *ngIf="policyType == 1 && knowBikeNumber">
      <div class="bike_area">
        <div class="row" id="Renew_Insorance">
          <div class="col-md-4">
            <div class="field-wrapper">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Your bike number</mat-label>
                <!-- [textMask]="mask" -->
                <input matInput appUppercase placeholder="Your bike number" formControlName="bikeNo" name="bike"
                  maxlength="13" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="field-wrapper">
              <mat-form-field appearance="outline">
                <mat-label>Has your previous policy expired?</mat-label>
                <mat-select (selectionChange)="
                    onPolicyExpiredChange(
                      knowCVForm.get('isPreviousPolicyExp')?.value,
                      'knowCVForm'
                    )
                  " formControlName="isPreviousPolicyExp" required title="Previous policy">
                  <mat-option [value]="item.value" *ngFor="let item of yesNoList">{{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <label *ngIf="policyExpireDisplayValue" class="row col-md-12 deshboard">{{ policyExpireDisplayValue
              }}<a (click)="onPolicyExpiredChange(1, 'knowCVForm')">Edit
              </a></label>
          </div>
          <div class="col-md-4">
            <div class="field-wrapper">
              <mat-form-field appearance="outline">
                <mat-label>Any Claimed in previous year</mat-label>
                <mat-select formControlName="claimInPreviousYear" required title="Claimed in previous year">
                  <mat-option [value]="item.value" *ngFor="let item of yesNoList">{{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <!-- <a class="row" (click)="onClickKnowBikeNo()"> Wait. I know my bike number.
                </a> -->
        <div class="col-md-12 text-error" *ngIf="errMsg && knowCVForm.invalid">
          {{ errMsg }}
        </div>
        <button type="submit" [disabled]="btnDisable" title="View Quotes"
          class="w--button w--button--orange w--button--large">
          View Quotes
        </button>
        <div class="col-md-12">
          <div class="extra">
            <p>OR</p>
          </div>
          <a class="w--button w--button--orange w--button--large" (click)="onClickKnowBikeNo()">
            Don't Know Bike Number
          </a>
        </div>
      </div>
    </form>
    <!-- if know bike number -->

    <!-- for New Bike -->
    <form [formGroup]="newCVForm" (ngSubmit)="onSubmitNewCV()" *ngIf="policyType == 8">
      <div class="bike_area">
        <div class="row" id="New_Bike_insorance">
          <div class="col-md-6">
            <div class="field-wrapper">
              <mat-form-field class="example-full-width" (click)="onClickInput('newCVForm')" appearance="outline">
                <mat-label>Which CV do you ride?</mat-label>
                <input matInput placeholder="Which CV do you ride?" readonly title="Which bike do you ride?"
                  formControlName="CvDisplayValue" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field-wrapper">
              <!-- <mat-form-field class="example-full-width" appearance="outline" (click)="
                  displayRtoPopup = !displayRtoPopup && (openBy = 'newCVForm')
                ">
                <mat-label>CV registration RTO</mat-label>
                <input matInput placeholder="CV registration RTO" title="CV registration RTO"
                  formControlName="RTODisplayName" readonly required />
              </mat-form-field> -->
              <mat-form-field appearance="outline">
                <mat-label>
                  Select Registration RTO
                </mat-label>
                <input type="text" formControlName="RTODisplayName" matInput [matAutocomplete]="autoRtoNewCV" />

                <mat-autocomplete (optionSelected)="onSelectRtos($event.option.value)" #autoRtoNewCV="matAutocomplete">
                  <mat-option value="{{ rto.RTODisplayName }}" *ngFor=" let rto of filteredRtoList | async">
                    {{ rto.RTODisplayNameNew }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="col-md-12 text-error" *ngIf="errMsg && newCVForm.invalid">
          {{ errMsg }}
        </div>
        <button type="submit" [disabled]="btnDisable" title="View Quotes"
          class="w--button w--button--orange w--button--large">
          View Quotes
        </button>
      </div>
    </form>
    <!-- New Bike -->
  </div>
</div>
<div class="modal fadein policyexpiry" [ngStyle]="{'display': this.display}" data-backdrop="static" tabindex="-1"
  role="dialog" aria-labelledby="Previous policy expiry date" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          Previous Policy Details

          <button type="button" class="close" (click)="closeModalDialog()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->

        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-12">
          <div class="tabbable text-center">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" (click)="onClickPreviousPolicyTab('date')"
                [class.disabled]="this.popupActive == 'ncb'">
                <a class="nav-link" [class.active]="popupActive == 'date'">
                  Previous policy expiry Date
                </a>
              </li>
              <li class="nav-item" (click)="onClickPreviousPolicyTab('ncb')">
                <a class="nav-link" [class.active]="popupActive == 'ncb'" [class.disabled]="!isNcbEditable">
                  Previous NCB
                </a>
              </li>
            </ul>
          </div>
          <div class="field-wrapper previous_policy_dailoge">
            <div [hidden]="popupActive == 'ncb'">
              <mat-form-field [ngClass]="'one'">
                <mat-label>
                  {{
                  plan.PrvPolicyExCode == yesno.YES
                  ? "When did your policy expire ?"
                  : "When will your policy expire ?"
                  }}
                </mat-label>
                <input matInput [formControl]="prvPolicyExDate" [max]="maxDate" [min]="minDate" (click)="dp4.open()"
                  required [matDatepicker]="dp4" [placeholder]="date" maxlength="10" />
                <mat-datepicker-toggle matSuffix [for]="dp4">
                </mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div [hidden]="popupActive == 'date'">
              <mat-form-field [ngClass]="'one'">
                <mat-label>Select your previous NCB</mat-label>
                <mat-select title="Select NCB" [formControl]="ncbInput" [disabled]="isMoreThan90 || !isNcbEditable">
                  <mat-option [value]="item.value" *ngFor="let item of ncbList">{{ item.value }} %
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <div class="col-md-10 text-center">
          <div class="col-md-10 text-error">
            {{ ncbExpDateErrMsg }}
          </div>
        </div>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary btn1" (click)="onClickOkPrvPolicyModal()">
          {{ popupActive == "date" ? "Next" : "OK" }}
        </button>
      </div>
    </div>
  </div>
</div>



<div class="modal fadein policyexpiry" [ngStyle]="{'display':this.displayCarrierType}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose your vehicle carrier type.</h4>
        <button type="button" class="close" (click)="closeModalDialog()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body CarrierType">
        <div class="row">
          <div class="col-md-12" *ngFor="let c of this.carrierTypeList">

            <mat-card class="policyExpiryType" style="width: 50%;" [matTooltip]="c?.VehicleUseDesc"
              matTooltipPosition="right" (click)="onChooseVehicleCarrierType(c)">
              <mat-panel-description>
                {{ c?.VehicleUseDesc }}
              </mat-panel-description>

            </mat-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fadein policyexpiry" [ngStyle]="{'display':this.displayVehicleOwnedBy}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Vehicle Owned By.</h4>
        <button type="button" class="close" (click)="closeModalDialog()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body CarrierType">
        <div class="row">
          <div class="col-md-12" *ngFor="let c of this.vehicleOwnedBy">

            <mat-card class="policyExpiryType" style="width: 50%;" [matTooltip]="c.OwnedByDesc"
              matTooltipPosition="right" (click)="onChooseVehicleOwnedBy(c)">
              <mat-panel-description>
                {{ c.OwnedByDesc }}
              </mat-panel-description>

            </mat-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- bike model , variant div -->
<app-cv-model-variant [isVisible]="displayBikeModelPopup" (closePopupClick)="closeBikeModelVariantPopup($event)"
  #cvModel [insuranceCateCode]="insuranceType.InsuranceCateCode" [openBy]="openBy">
</app-cv-model-variant>

<!-- rto popup -->
<app-vehicle-rtos #vehicleRtos [isVisible]="displayRtoPopup" [insuranceCateCode]="insuranceType.InsuranceCateCode"
  (closePopupClick)="closeRtosPopup($event)">
</app-vehicle-rtos>

<!-- policy expired popup -->
<app-policy-expired #policyExpire [isVisible]="showExpiredPolicy" [insuranceCateCode]="insuranceType.InsuranceCateCode"
  (closePopupClick)="closePolicyExpiredPopup($event)">
</app-policy-expired>

<app-policy-type [isVisible]="displayPolicyType" [PolicyExpiryType]="policyTypeList"
  [isRememberPrvPolDetails]="this.prvPolicyRememberCode" (closePopupClick)="onClickPreviousPolicyType($event)">
</app-policy-type>