.bike_area{
    display: block;
}

.deshboard{
    margin-left: 10px; margin-top: 2px;
}
.w--button.w--button--orange w--button--large{
    color: #ffffff;
}

.close{
    color: #ffffff;
    opacity: 1;
    margin: 0px 0px 0px 0;
    padding: 0;
}

.btn1{
    background-color: #083b66;
}

.lds-ripple{
    display: none;
}

.modal-footer{
    background: #dfe0e0;
}
.one{
    border: solid 1px #e7eaee; padding: 10px;
}

