<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>ULIP Plans</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/img/ULIP_Plans.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <span>by Somnath Barbhai on Thu, Jul 18 2019</span>
                    <p>Buy life insurance ULIP Plans.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Traditional Plans</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/img/Traditional_Plans.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <span>by Somnath Barbhai on Thu, Jul 18 2019</span>
                    <p>Buy life insurance traditional plans.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Kotak e-Term Plan</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/img/kotak-e-term-plan.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <span>by Somnath Barbhai on Mon, Jun 17 2019</span>
                    <p>Kotak e-Term plan is a pure protection term insurance plan. Kotak e-Term Plan has been specially
                        designed to let you
                        give that assurance to your family.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>