<div class="policy-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="ribbon-3">
                    <h2>Policy Board</h2>
                </div>
                <div class="box-tap">
                    <mat-card [ngClass]="'boxstyle'" *ngIf="navLinks.length">
                        <mat-card-content>

                            <div class="text-center alert alert-primary" *ngIf="!navLinks.length">
                                <strong>No Record Found!</strong><br>
                                Please contact to admin. Thanks for patience.
                            </div>


                            <nav mat-tab-nav-bar class="product_list">
                                <a mat-tab-link routerLink="summary" routerLinkActive #rla="routerLinkActive"
                                    [active]="rla.isActive">
                                    <mat-icon class="example-tab-icon">notes</mat-icon>
                                    All Policies
                                </a>
                                <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.RouteUrl"
                                    routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
                                    <mat-icon class="example-tab-icon"> {{link.IconString}}</mat-icon>
                                    {{link.InsuranceCateDesc}}
                                </a>
                            </nav>
                            <router-outlet></router-outlet>
                            <div class="text-center alert alert-primary" *ngIf="!navLinks.length">
                                <strong>No Record Found!</strong><br>
                                Please contact to admin. Thanks for patience.
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>