<div class="Select_Bike" *ngIf="isVisible">
  <div class="bikeinsurance">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="btncancel close_btn" (click)="closePopup()">
              <img src="./assets/img/close.png" class="img-responsive" />
            </div>
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="container container-two-wheeler-insurance">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="">
                    <div class="tab-content py-3 px-3 px-sm-0 Bike_Model_and_Varient" id="nav-tabContent">
                      <div class="row tab-pane fade show active" id="nav-insurance" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                              <div class="bike-insu-div">
                                <h4 style="margin-bottom: 0px">
                                  Where was your {{this.InsuranceTypeName}} registered?
                                </h4>
                                <label style="
                                    font-size: 12px;
                                    color: #948080;
                                    margin-bottom: 15px;
                                  ">
                                  Search for your vehicle registration
                                  RTO</label>
                              </div>
                              <div class="row">
                                <div class="col-md-2"></div>
                                <div class="search-bike col-md-8">
                                  <form>
                                    <div class="form-group">
                                      <mat-form-field appearance="outline">
                                        <mat-label>
                                          Select Registration RTO
                                        </mat-label>
                                        <input type="text" [formControl]="RTOCode" matInput
                                          [matAutocomplete]="autoRto" />
                                        <mat-icon matSuffix>search</mat-icon>
                                        <mat-autocomplete (optionSelected)="
                                            onSelect($event.option.value)
                                          " #autoRto="matAutocomplete">
                                          <mat-option value="{{
                                              rto.RTOCode +
                                                ',' +
                                                rto.RTODisplayName
                                            }}" *ngFor="
                                              let rto of filteredRtoList | async
                                            ">
                                            {{ rto.RTODisplayNameNew }}
                                          </mat-option>
                                        </mat-autocomplete>
                                      </mat-form-field>

                                      <!-- <mat-form-field>
                                                                            <mat-label>
                                                                                Select Registration RTO
                                                                            </mat-label>
                                                                            <mat-select name="RTOCode"
                                                                                [(ngModel)]="selectedValue"
                                                                                disableRipple
                                                                                (selectionChange)="onSelect(selectedValue)">
                                                                                <mat-option
                                                                                    value="{{rto.RTOCode+','+rto.RTODisplayName}}"
                                                                                    *ngFor="let rto of rtosList">
                                                                                    {{rto.RTODisplayName}}
                                                                                </mat-option>

                                                                            </mat-select>
                                                                        </mat-form-field> -->
                                    </div>
                                  </form>
                                </div>
                                <div class="col-md-2"></div>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <h5 class="modal_header modal_header--hr">
                            <span>Popular RTO</span>
                          </h5>
                        </div>
                        <div class="col-md-12 main-content" *ngIf="rtosList.length > 0">
                          <div class="row" class="bike_add row" *ngIf="rtosList.length">
                            <div class="col-md-2 bikebrand" [class.active]="
                                rto.RTOCode == +selectedValue.split(',')[0]
                              " *ngFor="let rto of rtosList.slice(0, 10)" (click)="
                                onSelect(rto.RTOCode + ',' + rto.RTODisplayName)
                              ">
                              <span>{{ rto.RTODisplayNameNew }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12" *ngIf="rtosList.length == 0">
                        <div class="col-md-12 alert alert-primary">
                          Please contact to admin. Thanks for patience.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>